@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Josefin+Sans&family=Poppins:wght@900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;

}
.title {
    display: flex;
    justify-content: center;
    font-family: 'Barriecito', cursive;
    font-size: 50px;
}
.table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    max-width: 40%;
}
.sub-text {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Barriecito', cursive;
    padding: 20px;
}
.form-text {
    display: flex;
    justify-content: center;
}
tbody {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

@media screen and (max-width: 486px) {
    .table {
        max-width: 40%;
    }
}